Repository shmesa22/simple-store: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:css, yarn lint:js, prettier --write

Update package-lock.json
  package-lock.json
Due: prettier --write

Initial view
  public/index.html
  src/index.css
  src/index.js
Due: yarn lint:css, yarn lint:js, prettier --write

Remove and ignore package-lock.json
  .gitignore
  package-lock.json
Due: prettier --write

Add order to stylelint
  .stylelintrc.json
  package.json
  yarn.lock
Due: prettier --write

Add resources
  src/static/Image-hero.jpg
  src/static/Logo.png
  src/static/products/Product-1.jpg
  src/static/products/Product-2.jpg
  src/static/products/Product-3.jpg
  src/static/products/Product-4.jpg
  src/static/products/Product-5.jpg
  src/static/products/Product-6.jpg
  src/static/products/Product-7.jpg
  src/static/products/Product-8.jpg
  src/static/products/Product-9.jpg
  src/static/typography/Gotham-Bold.otf
  src/static/typography/Gotham-BoldIta.otf
  src/static/typography/Gotham-Book.otf
  src/static/typography/Gotham-BookIta.otf
  src/static/typography/Gotham-Light.otf
  src/static/typography/Gotham-LightIta.otf
  src/static/typography/Gotham-Medium.otf
  src/static/typography/Gotham-MediumIta.otf
  src/static/typography/Lato-Black.ttf
  src/static/typography/Lato-BlackItalic.ttf
  src/static/typography/Lato-Bold.ttf
  src/static/typography/Lato-BoldItalic.ttf
  src/static/typography/Lato-Hairline.ttf
  src/static/typography/Lato-HairlineItalic.ttf
  src/static/typography/Lato-Heavy.ttf
  src/static/typography/Lato-HeavyItalic.ttf
  src/static/typography/Lato-Italic.ttf
  src/static/typography/Lato-Light.ttf
  src/static/typography/Lato-LightItalic.ttf
  src/static/typography/Lato-Medium.ttf
  src/static/typography/Lato-MediumItalic.ttf
  src/static/typography/Lato-Regular.ttf
  src/static/typography/Lato-Semibold.ttf
  src/static/typography/Lato-SemiboldItalic.ttf
  src/static/typography/Lato-Thin.ttf
  src/static/typography/Lato-ThinItalic.ttf
Due: none

Change Readme
  README.md
Due: prettier --write

Upload for the weekend
  .eslintrc.json
  package.json
  src/header.js
  src/index.css
  src/index.js
  src/index.json
  src/product.js
  webpack.config.js
  yarn.lock
Due: yarn lint:css, yarn lint:js, prettier --write

Convert json to js object
  src/index.json
  src/productsList.js
Due: yarn lint:js, prettier --write

Show list of products
  src/index.css
  src/index.js
  src/product.js
Due: yarn lint:css, yarn lint:js, prettier --write

Add store header and hamburguer logo
  src/header.js
  src/index.css
  src/product.js
Due: yarn lint:css, yarn lint:js, prettier --write

Add hamburguer icon file
  src/static/Hamburguer.svg
Due: none

Fix header styles
  src/index.css
  src/static/Image-hero.jpg
  src/static/Logo.png
Due: yarn lint:css

Fix card styling
  src/index.css
  src/product.js
  src/productsList.js
  src/static/products/Product-1.jpg
  src/static/products/Product-1.png
  src/static/products/Product-2.jpg
  src/static/products/Product-2.png
  src/static/products/Product-3.jpg
  src/static/products/Product-3.png
  src/static/products/Product-4.jpg
  src/static/products/Product-4.png
  src/static/products/Product-5.jpg
  src/static/products/Product-5.png
  src/static/products/Product-6.jpg
  src/static/products/Product-6.png
  src/static/products/Product-7.jpg
  src/static/products/Product-7.png
  src/static/products/Product-8.jpg
  src/static/products/Product-8.png
  src/static/products/Product-9.jpg
  src/static/products/Product-9.png
Due: yarn lint:css, yarn lint:js, prettier --write

Add footer
  src/footer.js
  src/index.css
  src/index.js
Due: yarn lint:css, yarn lint:js, prettier --write

Add modal
  src/header.js
  src/index.css
  src/index.js
  src/static/Close.svg
Due: yarn lint:css, yarn lint:js, prettier --write

Path conditions:
  yarn lint:css: any of: *.css
  yarn lint:js: any of: *.js
  prettier --write: any of: *.{js,md,json}
